.app.light {
  --bg-color: #e8e8f1;
  --inverted-bg-color: #060683;;

  --primary-color: #0a0adc;
  --secondary-color: #1010b4;
  --inverted-primary-color: #0cc40c;
  --inverted-secondary-color: #08d308;
}
