.ProfilePageHeader {
  display: flex;
  margin-bottom: 20px;

  .btnWrapper {
    margin-left: auto;

    .btnEditWrapper {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
  }


}
