.Button {
  cursor: pointer;
  color: var(--text-redesigned);
  padding: .5rem 1rem;
  display: flex;
  align-items: center;

  &:hover {
    color: var(--accent-redesigned);

    .addonLeft svg, .addonRight svg {
      color: var(--accent-redesigned);
    }
  }
}

.withAddon {
  padding: 0 16px;
}


